coveralls
coverage
niprov
mako
nose-timer 
numpy
scipy
nibabel>=2.4.0
six
flake8
nipype
petname
pathlib
pynrrd
pandas
sh
dipy
mne
matplotlib
shell
seaborn
dill
latex
python-dateutil
IPython
statsmodels
# pytables
pdfminer.six
qgrid
ipywidgets
argparse
msgpack




